/*--- Media Queries ---*/
body {
    background-color: #f6c4ff;
}

h1 {
    font-size: 85px;
    font-family: 'Play', sans-serif;
    margin: 5px 0px 10px 0px;
}

h2 {
    font-size: 26px;
    font-family: 'Play', sans-serif;
    margin: 0px;
    margin-bottom: 20px;
}

h3 {
    font-family: 'Play', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Play', sans-serif;
}

.title{
    text-align: center;
    font-family: 'Zen Tokyo Zoo', cursive;
}

.rainbow {
background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #22f),color-stop(0.75, #f2f), color-stop(0.9, #f2f), color-stop(1, #f22) );

background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #22f),color-stop(0.75, #f2f), color-stop(0.9, #f2f), color-stop(1, #f22) );

color:transparent;

-webkit-background-clip: text;

background-clip: text;
}

.tag{
    text-align: center;
}

/*--- Base ---*/

.hero img {
    height: 350px;
    width:100%;
}

.genre{
    display: inline;
}

.row .col{
    margin: 0px 3px;
}

.buttons{
    position: relative;
    margin-top: 2%;
}

/*--- Genre Page Styles ---*/

#genre_header{
    font-size:35px ;
}

.rock {
    font-family: 'Metal Mania', cursive;
    font-size: 18px;
}

#rock_header {
    font-family: 'Metal Mania', cursive;
    font-size: 60px;
}

.pop {
    font-family: 'Bangers', cursive;
    font-size: 20px;
}

#pop_header {
    font-family: 'Bangers', cursive;
    font-size: 60px;
}

.dance {
    font-family: 'Zen Dots', cursive;
}

#dance_header {
    font-family: 'Zen Dots', cursive;;
    font-size: 60px;
}

.rap {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

#rap_header {
    font-family: 'Staatliches', cursive;
    font-size: 60px;
}

.other {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

#other_header {
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
}

/*--- Toggles with media query (834px) to switch post style ---*/
.desktop { 
    display: block;
}
   
.responsive {
    display: none;
}


/*--- Media Queries ---*/


@media screen and (max-width: 834px) {
h1 {
    font-size: 45px;
}

.genre{
    display: block;
    margin: 5px 0px;
}

.row .col{
    margin: 2px 3px;
}

h4{
    font-size: 29.5px;
}

/*--- Toggles switch to different post style ---*/
div.responsive { display: block}
div.desktop { display: none }
}

@media screen and (max-width: 414px){
h1 {
    font-size: 30px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

nav .brand-logo {
    font-size: 18px;
}

.hero img {
    height: 175px;
    width:100%;
}

.genre{
    display: block;
    margin: 5px 0px;
}

.row .col{
    margin: 2px 3px;
}

h4{
    font-size: 15px;
}

.sidenav {
    width:200px;
}

#genre_header{
    font-size: 30px;
}

.btn-large{
font-size: 10px;
}

.rock {
    font-size: 15px;
}

.pop {
    font-size: 15px;
}

.dance {
     font-size: 10px;
}

.rap {
    font-size: 15px;
}

.other {
    font-size: 15px;
}

}