{% extends "base.html" %}
{% block content %}
<section>
    <h1 class="title rainbow col s8 m6">INSPIRASONG</h1>
    <h2 class="tag col s12 m6">Share your musical inspiration</h2>
    <h3 class="center-align">ACCESS PROHIBITED!</h3>
    <h4 class="center-align">Unfortunately you don't have permissions to access this! If you are a User please login!!</h4>
    <p class="center-align">Please return <a href="{{ url_for('base') }}">Home</a> or to your <a href="{{ url_for('profile') }}">Profile</a></p>
</section>
{% endblock %}