{% extends "base.html" %}
{% block content %}
<section>
    <h1 class="title rainbow col s8 m6">INSPIRASONG</h1>
    <h2 class="tag col s12 m6">Share your musical inspiration</h2>
    <h3 class="center-align">PAGE NOT FOUND!</h3>
    <h4 class="center-align">Oh No! Looks like there is a problem with finding this page!</h4>
    <h4 class="center-align">Please check that you have entered the correct web address</h4>
    <p class="center-align">Return <a href="{{ url_for('base') }}">Home</a> or to <a href="{{ url_for('profile') }}">Profile</a></p>
</section>
{% endblock %}