<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Inspirasong</title>
</head>
<body>

    <header>
        <nav>
            <div class="nav-wrapper">
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Create Post</a></li>
                    <li><a href="#">Logout</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <h1 class="purple lighten-4">Inspirasong</h1>
        <h2 class="purple lighten-4">Share your musical inspiration</h2>
    </section>  

    <section>
        <a class="waves-effect waves-light btn">Rock</a>
        <a class="waves-effect waves-light btn">Pop</a>
        <a class="waves-effect waves-light btn">Rap</a>
        <a class="waves-effect waves-light btn">Dance</a>
        <a class="waves-effect waves-light btn">Other</a>
    </section>

</body>
</html>