{% extends "base.html" %}
{% block content %}

        <section>
            <h1 id ="genre_header" class="title rainbow">INSPIRASONG</h1>
            <h2 id ="dance_header" class="tag">Dance</h2>
        </section>  

        <div class="hero">
            <img src="static/css/images/dance_image.jpg" alt="DJ on decks">
        </div>

    {% for post in posts %}
      <div class="col s12 m7">
          <h4 class="header purple darken-3 purple-text text-lighten-5 center-align">{{post.song_name }} | {{post.artist_name }}</h4>
          <div class="card horizontal">
              <div class="card-image purple">
                  <img src="static/css/images/dance_image.jpg">
              </div>
              <div class="card-stacked purple lighten-4">
                  <div class="card-content">
                      <p>Album: {{post.albulm_name }}</p>
                      <p>Genre: {{post.genre_name }}</p>
                      <p>Sub Genre: {{post.sub_genre }}</p>
                      <p>{{post.post_description}}</p>
                      <p><em>post created: {{post.post_date }}</em></p>
                      <p><em>by: {{ post.created_by }}</em></p>
                  </div>
                  <div class="card-action purple">
                    {% if session.user|lower == post.created_by|lower %}
                    <div class=" col s9 right-align">
                        <a href="#" class="waves-effect waves-light btn-small red accent-4 button">Delete</a>
                        <a href="#" class="waves-effect waves-light btn-small light-blue accent-4 button">Edit</a>
                    </div>
                    {% endif %}
                  </div>
              </div>
          </div>
      </div>
      {% endfor %}


        <!--genre page buttons-->
        <section class="row buttons">
            <div class="genre">
                <a class="col m2 offset-m1 waves-effect waves-light btn-large purple lighten-1 rock" 
                    href="{{ url_for('rock') }}">Rock <i class="fas fa-skull"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 pop" 
                    href="{{ url_for('pop') }}">Pop <i class="fas fa-star"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 rap" 
                    href="{{ url_for('rap') }}">Rap <i class="fas fa-fist-raised"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 dance" 
                    href="{{ url_for('dance') }}">Dance <i class="fas fa-compact-disc"></i></a>
            </div>
            <div class="genre ">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 other" 
                    href="{{ url_for('other') }}">Other <i class="fas fa-globe-europe"></i></a>
            </div>
        </section>
{% endblock %}