{% extends "base.html" %}
{% block content %}

        <section>
            <h1 class="purple lighten-4 title rainbow">INSPIRASONG</h1>
            <h2 class="purple lighten-4 tag other">Other</h2>
        </section>  

        <div class="hero">
            <img src="static/css/images/other_image.jpg" alt="World music">
        </div>

        <section>
        <!--flash messages-->
                    <div class="row flashes">
                        <h4 class="light-purple lighten-4 center-align">{{ post }}</h4>
                    </div>

        </section>

        <!--genre page buttons-->
        <section class="row buttons">
            <div class="genre">
                <a class="col m2 offset-m1 waves-effect waves-light btn-large purple lighten-1 rock" 
                    href="{{ url_for('rock') }}">Rock <i class="fas fa-skull"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 pop" 
                    href="{{ url_for('pop') }}">Pop <i class="fas fa-star"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 rap" 
                    href="{{ url_for('rap') }}">Rap <i class="fas fa-fist-raised"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 dance" 
                    href="{{ url_for('dance') }}">Dance <i class="fas fa-compact-disc"></i></a>
            </div>
            <div class="genre ">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 other" 
                    href="{{ url_for('other') }}">Other <i class="fas fa-globe-europe"></i></a>
            </div>
        </section>
{% endblock %}