{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Register</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!--First Name-->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-user-plus prefix purple-text lighten-1"></i>
                        <input id="firstname" name="firstname" type="text" minlength="2"
                             maxlength="20" pattern="^[a-zA-Z0-9]{2,15}$" class="validate" required>
                        <label for="firstname">First Name</label>
                    </div>
                </div>

                <!--Last Name-->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-user-plus prefix purple-text lighten-1"></i>
                        <input id="lastname" name="lastname" type="text" minlength="2"
                             maxlength="20" pattern="^[a-zA-Z0-9]{2,15}$" class="validate" required>
                        <label for="lastname">Last Name</label>
                    </div>
                </div>

                <!--Username-->
                <div class="row">
                    <div class="input-field col s6">
                        <i class="fas fa-user-secret prefix purple-text lighten-1"></i>
                        <input id="username" name="username" type="text" minlength="5"
                             maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="username">Username</label>
                    </div>
                </div>
                <!--Password-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix purple-text lighten-1"></i>
                        <input id="password" name="password" type="password" minlength="5" 
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Create Password</label>
                    </div>
                </div>
                <!--Profile Image-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-image prefix purple-text lighten-1"></i>
                        <input id="image" name="image" type="text" minlength="5"
                            pattern= "^[a-z0-9/@?_-!()%$£+-=]$"
                            class="validate">
                        <label for="image">Profile Image (paste image URL or default image shown)</label>
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light purple lighten-4 purple-text btn modal-trigger" href="#help"> How to get Image URL?</a>
                        <p class="right">* any letters in link need to be lowercase</p>

                        <!-- Modal Structure -->
                        <div id="help" class="modal purple lighten-4 purple-text text-darken-4">
                            <div class="modal-content">
                                <h4>Getting Image URL</h4>
                                <ol>
                                    <li>Google Search Images for picture</li>
                                    <li>Click on image</li>
                                    <li>Open webpage of image</li>
                                    <li>Locate image on webpage it's on, right-click and select "copy image address"</li>
                                    <li>Paste image address into Profile Image</li>
                                </ol>
                                <p>NB: A good indicator the address is correct is to check that an image file is at the end of the web address (e.g: .png, .jpg .jpeg) </p>
                                <p>Here's an example of a good link, it has a png picture format and the link is all lowercase: https://www.easydrawingtips.com/wp-content/uploads/2018/05/female_face_line_drawing.png</p>
                                <p>If the link has Uppercase letters there is a chance it may not load on your profile correctly</p>
                            </div>
                            <div class="modal-footer purple">
                                <a href="#!" class="modal-close waves-effect purple lighten-4 purple-text btn-flat">Close</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Register Button-->
                <div class="row">
                    <button type="submit" class="col s12 waves-light btn-large purple lighten-1">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col s12">
            <p class="centeralign">
                Already Registered?
                <a href="{{ url_for('login') }}" class="light-purple-text text-darken-4">Log In</a>
            </p>
        </div>
    </div>

{% endblock %}