{% extends "base.html" %}
{% block content %}

        <section>
            <h1 class="purple lighten-4 title rainbow">INSPIRASONG</h1>
            <h2 id ="rock_header" class="purple lighten-4 tag">Rock</h2>
        </section>  

        <div class="hero">
            <img src="static/css/images/rock_image.png" alt="Rock band montage">
        </div>

        <section>
        <!--flash messages-->
        {% with messages = get_flashed_messages(category_filter=["rock"]) %}
            {% if category|lower == 'rock'|lower %}
                {% for messages in messages %}
                    <div class="row flashes">
                        <h4 class="light-purple lighten-4 center-align">{{ post }}</h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </section>

         <ul class="collapsible">
            {% for post in posts %}
            <li>
                <div class="header white-text purple darken-4 text-shadow">
                    <div class="col s3">
                        <i class="fas fa-caret-down"></i>
                        {% if session.user|lower == post.created_by|lower %}
                            <a href="{{ url_for('delete_task', task_id=task._id) }}" class="waves-effect waves-light btn-small green accent-4">Delete</a>
                            <a href="{{ url_for('edit_task', task_id=task._id) }}" class="waves-effect waves-light btn-small light-blue accent-4">Edit</a>
                        {% endif %}
                    </div>
                </div>

                <div class="body">
                    <strong>{{post.song_name }}</strong>
                    <p>{{post.artist_name }}</p>
                    <p>{{post.albulm_name }}</p>
                    <p>{{post.genre }}</p>
                    <p>{{post.sub_genre }}</p>                    
                    <p>{{post.post_description}}</p>
                    <p><em>{{post.post_date }}</em></p>
                    <p><em>by: {{ post.created_by }}</em></p>
                </div>
            </li>
            {% endfor %}
        </ul>

        <!--genre page buttons-->
        <section class="row buttons">
            <div class="genre">
                <a class="col m2 offset-m1 waves-effect waves-light btn-large purple lighten-1 rock" 
                    href="{{ url_for('rock') }}">Rock <i class="fas fa-skull"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 pop" 
                    href="{{ url_for('pop') }}">Pop <i class="fas fa-star"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 rap" 
                    href="{{ url_for('rap') }}">Rap <i class="fas fa-fist-raised"></i></a>
            </div>
            <div class="genre">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 dance" 
                    href="{{ url_for('dance') }}">Dance <i class="fas fa-compact-disc"></i></a>
            </div>
            <div class="genre ">
                <a class="col m2 waves-effect waves-light btn-large purple lighten-1 other" 
                    href="{{ url_for('other') }}">Other <i class="fas fa-globe-europe"></i></a>
            </div>
        </section>
{% endblock %}